### Built in Data Structures, Functions, Files

In [1]:
# Tuple example

tup = 4,5,6
tup

(4, 5, 6)

In [2]:
# Tuple nested within a tuple

nested_tup = (4, 5, 6), (7, 8)

nested_tup

((4, 5, 6), (7, 8))

In [5]:
# Variable unpacking is important when iterating over sequences of tuples or lists

seq = [(1, 2, 3), (4, 5, 6), (7, 8, 9)]
for a, b, c in seq:
    print('a={0}, b={1}, c={2}' .format(a,b,c))

a=1, b=2, c=3
a=4, b=5, c=6
a=7, b=8, c=9

In [6]:
# Count the number of occurences of a value in a tuple

a = (1, 2, 2, 2, 3, 4, 2)
a.count(2)

4

In [7]:
# Lists are defined using [] square brackets

a_list = [2, 3, 8, None]
tup = ('foo', 'bar', 'baz')
b_list = list(tup)
b_list

['foo', 'bar', 'baz']

In [8]:
b_list[2] = 'hello'
b_list

['foo', 'bar', 'hello']

In [9]:
# Elements can be appended to the end of the list with the 'append' method

b_list.append('dog')
b_list

['foo', 'bar', 'hello', 'dog']

In [10]:
# Using insert method you an insert an element at a specified location in a list

b_list.insert(1, 'blue')
b_list

['foo', 'blue', 'bar', 'hello', 'dog']

In [12]:
# Inverse of insert is to use pop, which removes and returns an element at a particular index

b_list.pop(2)

'hello'

In [13]:
b_list

['foo', 'blue', 'dog']

In [14]:
# Remove a value from the list

b_list.remove('dog')

In [15]:
b_list

['foo', 'blue']

In [16]:
# Check if a list contains a value using the 'in' keyword

'mom' in b_list

False

In [17]:
'foo' in b_list

True

In [18]:
# Use + sign to concatenate or add lists together - similar to tuples

[5, None, 'foo'] + [7, 8, (2, 3)]

[5, None, 'foo', 7, 8, (2, 3)]

In [19]:
# If you have an already existing list defined, you can add elements to it with the extend method

x = [4, None, 'foo']
x.extend([7, 8, (2, 3)])

x

[4, None, 'foo', 7, 8, (2, 3)]

In [21]:
# Sort a list using the sort function - without creating a new object!

a = [7, 6, 3, 2, 0, 4, 7, 10]
a.sort()

In [22]:
a

[0, 2, 3, 4, 6, 7, 7, 10]

In [24]:
# Example using the sort key option in the sort function

b = ['saw', 'small', 'He', 'foxes', 'six']
b.sort(key=len)

In [25]:
b

['He', 'saw', 'six', 'small', 'foxes']

In [26]:
# Slicing sections of sequences of a list using the indexing operator [] ; i.e., [1:5]
seq = [7, 8, 2, 3, 6, 5, 1, 2, 9, 0]

seq[1:7]

[8, 2, 3, 6, 5, 1]

In [27]:
seq[:4]

[7, 8, 2, 3]

In [29]:
seq[2:]

[2, 3, 6, 5, 1, 2, 9, 0]

In [30]:
seq[-2:]

[9, 0]

In [31]:
# enumerate, mapping built-in functions

In [32]:
# zip built-in function example

seq1 = ['dog', 'cat', 'tree']
seq2 = ['one', 'two', 'three']
zipped = zip(seq1, seq2)

In [33]:
list(zipped)

[('dog', 'one'), ('cat', 'two'), ('tree', 'three')]

In [34]:
# Can also unzip a sequence

movies = [('Titanic', 'Dicaprio'), ('American Beauty', 'Spacey'), ('Mission Impossible', 'Cruise')]
film_titles, last_names = zip(*movies)

In [35]:
film_titles

('Titanic', 'American Beauty', 'Mission Impossible')

In [36]:
last_names

('Dicaprio', 'Spacey', 'Cruise')

In [38]:
# Rerverse function iterates over the elements of a sequence in reverse order

list(reversed(range(10)))

[9, 8, 7, 6, 5, 4, 3, 2, 1, 0]

In [20]:
# Example using a dict using key-value pairs and curly {} brackets

d1 = {'b' : 'species of whales', 'c' : ('orca', 'humpback', 'blue')}

In [21]:
d1

{'b': 'species of whales', 'c': ('orca', 'humpback', 'blue')}

In [10]:
# Delete values using either del or pop method - this will delete the key

del d1['b']

In [11]:
d1

{'c': ('orca', 'humpback', 'blue')}

In [25]:
# Look at the list of object 'd1' keys

list(d1.keys())

['b', 'c']

In [27]:
# You can merge one dict into another using the update method

d1.update({'b' : 'foo', 'd' : 12})

In [28]:
d1

{'b': 'foo', 'c': ('orca', 'humpback', 'blue'), 'd': 12}

In [29]:
set([2, 2, 2, 1, 3, 3])

{1, 2, 3}

In [33]:
# Some of the different methods to use with sets

a = {1, 2, 3, 4, 5}

In [34]:
a.clear()

In [35]:
a

set()

In [36]:
# mapping function

In [37]:
# List, set, and dict comprehensions

In [38]:
x = {3, 4, 5, 6, 7, 8}

y = {5, 6, 7, 8}

In [40]:
x.union(y)

{3, 4, 5, 6, 7, 8}

In [41]:
x | y

{3, 4, 5, 6, 7, 8}

In [42]:
x.intersection(y)

{5, 6, 7, 8}

In [43]:
x & y

{5, 6, 7, 8}