In [4]:
import numpy as np
import pandas as pd

In [2]:
a = np.array([1,2,3])
b = np.array([4,5,6])

In [3]:
a + b

array([5, 7, 9])

In [5]:
df = [{'Continent': 'Europe', 'Country': 'UK', 'Pageviews': 100000}, {'Continent': 'Europe', 'Country': 'DE', 'Pageviews': 20000}, {'Continent': 'Africa', 'Country': 'Kenya', 'Pageviews': 40000}, {'Continent': 'Africa', 'Country': 'Morroco', 'Pageviews': 20000}, {'Continent': 'Africa', 'Country': 'Chad', 'Pageviews': 50000}]
pd.DataFrame(df)
print(df)

[{'Continent': 'Europe', 'Country': 'UK', 'Pageviews': 100000}, {'Continent': 'Europe', 'Country': 'DE', 'Pageviews': 20000}, {'Continent': 'Africa', 'Country': 'Kenya', 'Pageviews': 40000}, {'Continent': 'Africa', 'Country': 'Morroco', 'Pageviews': 20000}, {'Continent': 'Africa', 'Country': 'Chad', 'Pageviews': 50000}]

In [7]:
pd.DataFrame(df)

  Continent  Country  Pageviews
0    Europe       UK     100000
1    Europe       DE      20000
2    Africa    Kenya      40000
3    Africa  Morroco      20000
4    Africa     Chad      50000

In [8]:
a * b

array([ 4, 10, 18])

In [9]:
##Create a new column and assign it the values of a list

In [15]:
"Unique_visitors"= [45000, 8000, 15000, 7000, 3000]

SyntaxError: can't assign to literal (<ipython-input-15-f9927a6cedee>, line 1)

In [16]:
##Combine two DataFrames

In [17]:
df_two = [{'Continent': 'Asia', 'Country': 'China', 'Pageviews': 50000000}, {'Continent': 'Asia', 'Country': 'Japan', 'Pageviews': 500}, {'Continent': 'Asia', 'Country': 'India', 'Pageviews': 10000}]
pd.DataFrame(df_two)
print(df_two)

[{'Continent': 'Asia', 'Country': 'China', 'Pageviews': 50000000}, {'Continent': 'Asia', 'Country': 'Japan', 'Pageviews': 500}, {'Continent': 'Asia', 'Country': 'India', 'Pageviews': 10000}]

In [18]:
pd.DataFrame(df_two)

  Continent Country  Pageviews
0      Asia   China   50000000
1      Asia   Japan        500
2      Asia   India      10000

In [25]:
df_two

[{'Continent': 'Asia', 'Country': 'China', 'Pageviews': 50000000},
 {'Continent': 'Asia', 'Country': 'Japan', 'Pageviews': 500},
 {'Continent': 'Asia', 'Country': 'India', 'Pageviews': 10000}]

In [26]:
pd.concat([df, df_two], axis = 1)

TypeError: cannot concatenate a non-NDFrame object